.oya{
    position:flex;
    top: 400px;
    cursor: pointer;
}
.hito{
    position:flex;
    top: 400px;
    cursor: pointer;
}
.naka{
    position:flex;
    top: 400px;
    cursor: pointer;
}
.kusuri{
    position:flex;
    top: 400px;
    cursor: pointer;
}
.ko{
    position:flex;
    top: 400px;
    cursor: pointer;
}


.oyayubi{
    align-items: center;
    display: flex;
}
.oya input{
    display: none;
}

.oya input:checked{
    display: none;
}

.hitoyubi{
    align-items: center;
    display: flex;
}
.hito input{
    display: none;
}

.hito input:checked{
    display: none;
}

.nakayubi{
    align-items: center;
    display: flex;
}
.naka input{
    display: none;
}

.naka input:checked{
    display: none;
}

.kusuriyubi{
    align-items: center;
    display: flex;
}
.kusuri input{
    display: none;
}

.kusuri input:checked{
    display: none;
}

.koyubi{
    align-items: center;
    display: flex;
}
.ko input{
    display: none;
}

.ko input:checked{
    display: none;
}




.oya input + .oyayubi::before{
    background-image: url("../image/oya.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 150px;
    position: absolute;
    width: 300px;
    top: 1650px;
    left: -110px;
}

.oya input:checked + .oyayubi::before {
    background-image: url("../image/oya.png");
    left: -90px;
    height: 175px;
    top: 1625px;
}

.hito input + .hitoyubi::before{
    background-image: url("../image/hito.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 150px;
    position: absolute;
    width: 300px;
    top: 1500px;
    left: -50px;
}

.hito input:checked + .hitoyubi::before {
    background-image: url("../image/hito.png");
    left: -40px;
    height: 200px;
    width: 350px;
    top: 1490px;
}

.naka input + .nakayubi::before{
    background-image: url("../image/naka.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 150px;
    position: absolute;
    width: 300px;
    top: 1400px;
    left: -30px;
}

.naka input:checked + .nakayubi::before {
    background-image: url("../image/naka.png");
    left: -20px;
    height: 200px;
    width: 350px;
    top: 1375px;
}

.kusuri input + .kusuriyubi::before{
    background-image: url("../image/kusuri.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 150px;
    position: absolute;
    width: 300px;
    top: 1300px;
    left: -45px;

}

.kusuri input:checked + .kusuriyubi::before {
    background-image: url("../image/kusuri.png");
    left: -30px;
    height: 200px;
    width: 350px;
    top: 1275px;
}

.ko input + .koyubi::before{
    background-image: url("../image/ko.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 150px;
    position: absolute;
    width: 300px;
    top: 1200px;
    left: -70px;
}

.ko input:checked + .koyubi::before {
    background-image: url("../image/ko.png");
    left: -30px;
    height: 200px;
    top: 1150px;
}


#targetImage {
    z-index: 3;
    position: absolute;
    top: 1225px;
    left: 49%;  
    width: 600px;
    height: 600px;
  }