

.header-image {
    left: 20px;
    width: 1500px;
    height: auto; /* 高さは自動調整 */
}

.title-image{
    margin-top: 30px;
    width: 600px;
    height:auto;
    margin-left: 100px;
}

.finger-image{
    margin-top: -40px;
    width: 650px;
    height:auto;
    margin-left: 50px;
}

.letter{
    position: absolute;
    width: 500px;
    margin-top: -600px;
    font-size: 22px;
    padding: 20px;
    line-height: 50px;
    left: 780px;
    

}

.backgruound{
    position: absolute;
    z-index: -1;
    width: 700px;
    margin-right: 10px;
    top: 200px;
}

body{
    background-color: #8FB192;
}

.finger img{
    padding-top: 300px;
    width: 75%;
    height: 1500px;
    object-fit: cover;

}

.finger{
    
    text-align: center;
}