body {
    background-color: #8FB192;
  }
.header-image {
  left: 20px;
  width: 1500px;
  height: auto;
  }
h1{
  background-image: url("../image/yubiera.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  position: relative;
  width: 500px;
  margin: 0 auto;
  top:-30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container img {
  width: 1000px;
  display: block;
  position: relative;
  margin: 0 auto;
  top: -180px;
  left: 60px;
}




.overlay1 {
  position: absolute;
  margin: 0 auto;
  top: 440px;
  left: calc(50% - 260px);
  width: 90px;
  height: 120px;
  background-color: transparent;
  cursor: pointer;
}
.overlay2 {
  position: absolute;
  margin: 0 auto;
  top: 330px;
  left: calc(50% - 170px);
  width: 80px;
  height: 180px;
  background-color: transparent;
  cursor: pointer;
}
.overlay3 {
  position: absolute;
  margin: 0 auto;
  top: 290px;
  left: calc(50% - 80px);
  width: 80px;
  height: 200px;
  background-color:transparent;
  cursor: pointer;
}
.overlay4 {
  position: absolute;
  margin: 0 auto;
  top: 330px;
  left: calc(50% + 10px);
  width: 80px;
  height: 200px;
  background-color: transparent;
  cursor: pointer;
}
.overlay5 {
  position: absolute;
  margin: 0 auto;
  top: 580px;
  left: calc(50% + 80px);
  width: 180px;
  height: 80px;
  background-color: transparent;
  cursor: pointer;
}
h2{
  z-index: 2;
  position: absolute;
  background-image: url("../image/yubi2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 750px;
  top: 1025px;
  left: 3%;
}
h3{
  z-index: 2;
  position: absolute;
  background-image: url("../image/bun.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 820px;
  width: 820px;
  top: 1000px;
  left: 43%;
}
h4{
  z-index: 2;
  position: absolute;
  background-image: url("../image/banzai1.png");
  background-size: contain;
  background-repeat: repeat;
  height: 680px;
  width: 50px;
  top: 150px;
  left: 0px;
}
h5{
  z-index: 2;
  position: absolute;
  background-image: url("../image/banzai2.png");
  background-size: contain;
  background-repeat: repeat;
  transform-origin: top right;
  height: 680px;
  width: 50px;
  top: 150px;
  right: 0px;
}
h6{
  z-index: 2;
  position: absolute;
  background-image: url("../image/hito2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  top: 600px;
  left: 10%;
}
h7{
  z-index: 2;
  position: absolute;
  background-image: url("../image/hito3.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: top right;
  height: 200px;
  width: 200px;
  top: 600px;
  right: 10%;
}